HETRIX_WEBHOOK_TOKEN=b281d26f4c574fbd963837ef80893553

KV_REST_API_READ_ONLY_TOKEN="ggAAAAAABDZ4AAIgcDEKDiBoZR0NIh6I3hvKc9NCxvtYWBfkr2MsWYvYT8t6Lg"
KV_REST_API_TOKEN="gQAAAAAABDZ4AAIgcDExZTM1OGZmYmRiYzk0NTVjOTc0ODI4YWUwZWIyOWQyOQ"
KV_REST_API_URL="https://fair-redbird-276088.upstash.io"
KV_URL="rediss://default:gQAAAAAABDZ4AAIgcDExZTM1OGZmYmRiYzk0NTVjOTc0ODI4YWUwZWIyOWQyOQ@fair-redbird-276088.upstash.io:6379"
REDIS_URL="rediss://default:gQAAAAAABDZ4AAIgcDExZTM1OGZmYmRiYzk0NTVjOTc0ODI4YWUwZWIyOWQyOQ@fair-redbird-276088.upstash.io:6379"
