# created automatically by the Vercel Upstash integration
KV_REST_API_URL=
KV_REST_API_TOKEN=

# create your own secret and add the same value to HetrixTools > Contact List > Webhook authentication token
HETRIX_WEBHOOK_TOKEN=
